---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #212121;

}

.navbar {
  overflow: hidden;
  background-color: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f2f2f2;
  color: #212121;
}

.tocstyle {
  list-style-type: none;

}

.tocstyle a {
  font-size: 15px;
  color: gray;
}

.btdiv {
  top: 250px;
  right: 30px;
  position: fixed;
}

.btdiv a {
  color: gray;
}

.btdiv a:hover {
  color: #212121;
  text-decoration: none;
}

.rightbar {
  background-color: #f2f2f2;
  border-right: 5px solid #DCDADA;
  word-wrap: break-word;
  width: 170px;
  padding: 8px 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
